.navbar{
    z-index: 1000;
    display: flex;
    position: absolute;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.navbar-logo>img{
    height: 60px;
}
.navbar-routes{
    display: flex;
}
.navbar-route{
    margin: 0 10px 0 10px;
    font-size: 27px;
    font-weight: bold;
    color: #22577A;
}

.navbar-route:hover{
    color: #F10A05;
    cursor: pointer;
}
.navbar-route:active{
    opacity: 0.7;
}
.navbar-links{
    padding: 0px 30px 0px 10px;
}
.navbar-links>img{
    height: 22px;
    margin: 0 5px 0 5px;
}