.about{
    background-image: url('../Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-snap-type: y mandatory;
    height: 100%;
}